.ab{
    text-align: center;
    font: bolder;
    font-size: xxx-large;
    
    
}

.abc{
background-color: rgb(208, 218, 218);
margin-top: 100px;
margin-left: 100px;
margin-right: 100px;
border-radius: 15px;
padding: 30px;

}

.a{
    position: relative;
    
text-align: right;
right: 100px;
}

.b{
float: right;
width: 400px;
padding: 12px;
}
.abcd{
    text-align: center;
}
.cd{
    position: relative;
    float: right;
    width: 220px;
    padding: 10px;
    right: 500px;
    font-size: medium;
    /* margin: 50px; */
}

.relative{
    position: relative;
left: 400px;
top: -400px;
width:500px ;
}

.de{
    position: relative;
    float: right;
    width: 220px;
    padding: 10px;
    right: 0px;
    font-size: medium;
    /* margin: 50px; */
}
.c{
    float: right;
    width: 200px;
    padding: 12px;
    position:relative;
    right: 200px;
    }